<div class="home-callout text-center container-fluid">
    <h1><i class="fa fa-heart"></i> Welcome to Furiends Forever Pet Services <i 
    class="fa fa-heart"></i></h1>
    <h3>Loving, Professional, and Affordable Dog Walking and Pet Sitting</h3>
</div>
<div class="home-body">
    <div class="container pic-text-container1 text-center">
        <p>Furiends Forever pet services is a dog walking and pet sitting business 
        that focuses on keeping your fur babies happy when you can't be home to do 
        it yourself. We pride ourselves on our raw love for animals and giving them 
        the exercise, training, attention, and affection that they need.</p>
        <div class="row">
            <div class="col-md-4 pic-text1">
                <%= image_tag("cassi16", class: "picture1") %>
            </div>
            <div class="col-md-4 pic-text2">
                <%= image_tag("cassi14", class: "picture2") %>
            </div>
            <div class="col-md-4 pic-text3">
                <%= image_tag("cassi11", class: "picture3") %>
            </div>
        </div>
    </div>
    <div class="container pic-text-container2">
        <div class="row">
            <p>None of us can be with our pets as much as we'd like, so we're here to
            fill in the gap!</p>
            <div class="col-xs-6 pic-text4">
                <p>Rain, snow, sleet, and other weather conditions will not stop 
                your pup's walk.</p>
                <%= image_tag("cassi2", class: "picture4") %>
            </div>
            <div class="col-xs-6 pic-text5">
                <%= image_tag("cassi13", class: "picture5") %>
                <p>Birds, rabbits, ferrets, hamsters, and all other fur babies 
                are accommodated.</p>
            </div>
        </div>
    </div>
    <div class="container pic-text-container3">
        <div class="row">
            <div class="col-xs-6 pic-text6">
                <p>Text messages and pictures (Pupdates) are sent during every 
                interaction with your pet!</p>
                <%= image_tag("pupdate2.PNG", class: "picture6 img-fluid max-width: 100%") %>
            </div>
            <div class="col-xs-6 pic-text6">
                <%= image_tag("pupdate1.PNG", class: "picture7") %>
                <p>We'll tell you how they did on their visit and if they caused any trouble
                while you've been gone.</p>
            </div>
        </div>
    </div>
</div>
